<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="@{'/public/css/styles.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>
    	#{if play.mode.name() == 'DEV'}
            #{404 result /}
        #{/if}
        #{else}
            <div class="container">
			    <div class="jumbotron">
				    <h1>&{'error.404.heading'}</h1>
				    <p class="lead">&{'error.404.text'}</p>
				    <p><a class="btn btn-lg btn-success" href="@{Index.index()}" role="button">&{'error.404.link'}</a></p>
			    </div>
			</div>
        #{/else}
    </body>
</html>