<!DOCTYPE html>

<html>
    <head>
        <title>500</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="@{'/public/css/styles.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>
		<div class="container">
		    <div class="jumbotron">
			    <h1>&{'error.500.heading'}</h1>
			    <p class="lead">&{'error.500.text'}</p>
			    <p><a class="btn btn-lg btn-success" href="@{Index.index()}" role="button">&{'error.500.link'}</a></p>
		    </div>
		</div>
    </body>
</html>
