<!DOCTYPE html>

<html>
    <head>
        <title>&{'app.title'}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="@{'/public/css/styles.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/footer.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>
		<div class="container">
	        #{doLayout /}
		</div>
		        
		<footer class="footer">
			<div class="container">
				<p><small class="text-muted">&{'footer.powered'} <a href="http://playframework.com" target="_blank">Play! Framework</a>, <a href="http://jquery.com" target="_blank">jQuery</a> &{'footer.and'} <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>. &{'footer.inspired'} <a href="http://www.ideaswatch.com/startup-idea/lets-talk-together" target="_blank">IdeasWatch</a>.</small></p>
				<p><small class="text-muted">&{'footer.created'} <a href="http://spn.pw" target="_blank">Sergey Poluyan</a>. &{'footer.src'} <a href="https://github.com/spoluyan/talk-together" target="_blank">GitHub</a>.</small></p>
				<p><small class="text-muted">&{'footer.version'} 1.0.0</small></p>
			</div>
		</footer>
        
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="@{'/public/js/app.js'}" type="text/javascript" charset="UTF-8"></script>
    </body>
</html>
